[submodule "external/evil"]
	path = external/evil
	url = git://gitorious.org/evil/evil.git
[submodule "external/undo-tree"]
	path = external/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "external/dtrt-indent"]
	path = external/dtrt-indent
	url = git://git.savannah.nongnu.org/dtrt-indent.git
[submodule "external/markdown-mode"]
	path = external/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "external/ace-jump-mode"]
	path = external/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
